{erl_opts, [fail_on_warning, debug_info]}.
{cover_enabled, true}.
{clean_files, ["*.eunit", "ebin/*.beam", "test/*.beam"]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{sub_dirs, ["rel", "apps/werken"]}.
{deps, [
  {lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
  {erlsha2, ".*", {git, "git://github.com/vinoski/erlsha2.git", "master"}}
]}.
